[Unit]
Description=Scheduled school bell
After=multi-user.target

[Service]
Type=simple
User={USER}
Group={GROUP}
WorkingDirectory={HOME}
Environment="VIRTUAL_ENV={HOME}/.local"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=
ExecStart={BIN}/school-bell {CONFIG} --debug
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=school-bell
Restart=always

[Install]
WantedBy=multi-user.target
