[Unit]
Description=Scheduled school bell
After=multi-user.target
 
[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=
ExecStart=/usr/bin/python3 /home/pi/school-bell/school_bell.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SchoolBell
Restart=always
 
[Install]
WantedBy=multi-user.target
