[Unit]
Description=Scheduled school bell
After=multi-user.target
 
[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/
Environment="VIRTUAL_ENV=/home/pi/.local"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=
ExecStart=/home/pi/.local/bin/school-bell -c /home/pi/schoolbell.json --debug
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SchoolBell
Restart=always
 
[Install]
WantedBy=multi-user.target
