[Unit]
Description=Scheduled school bell
After=multi-user.target
 
[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/schoolbell/
ExecStart=
ExecStart=/usr/bin/python3 /home/pi/schoolbell/schoolbell.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=schoolbell
Restart=always
 
[Install]
WantedBy=multi-user.target
